<h1>新規登録</h1>
<% @user.errors.full_messages.each do |message| %>
  <div class="error">
   <%= message %>
  </div>
<% end %>
<%= form_tag("/users/create") do %>
  <div class="signup-form"> 
    <div class="new-user-name">
      <p>ユーザー名</p>
      <input name="name" value="<%= @user.name %>">
    </div>
    <p>メールアドレス</p>
    <input name="email" value="<%= @user.email %>"><br>
    <p>パスワード</p>
    <input name="password" type="password" value="<%= @user.password %>"><br>
    <input class="signup-btn"  type="submit" value="新規登録">
  </div>
<% end %>

<div class="login-link">
  <p>すでに登録していますか？</p>
  <span>
    <%= link_to("ログイン","/login") %>
  </span>
  はこちら
</div>